*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

header{
    background: beige;
}

#darkMode.active .toggle {
    left: 40px;
    background-image: url(imagenes/icons/icons8-alternar-apagado-50.png);
}

/* Estilos al activar el boton modo oscuro */

body.active {
    background-color: black;
    & #darkMode {
        background-image: url(imagenes/icons/icons8-alternar-encendido-48.png);
    }
    & .mensaje{
        background-color: black;
        color: #D8DFE8;
        border: 1px solid white;
        border-radius: 24px;
    }
    & header{
        background-color: rgb(95, 95, 95);
    }
    & .logo{
        filter: invert(1);
    }
    & main {
        background-image: url(imagenes/8712851.jpg);
        & .text-area{
            color: #D8DFE8;
        }
        & h6{
            color: #D8DFE8;
        }
    & ::placeholder{ color: white; }    
    }
    & .contact{
        background-color: rgb(95, 95, 95)
    }
    & .btn-desencriptar {
        background: #0A3871;
        color: #D8DFE8;
    }
    & .btn-encriptar{
        background: #0A3871;
        color: #D8DFE8;
    }
    & .btn-copiar{
        background: #0A3871;
        color: #D8DFE8;
    }
    
}

#darkMode {
    width: 60px; 
    height: 30px;
    margin-left: 35%;
    margin-top: 50px;
    background: url(imagenes/icons/icons8-alternar-apagado-50.png) no-repeat;
    background-position-y: -10px;
    position: fixed;
    border: none;
    cursor: pointer;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

h4{
    font-weight: bold;
    color: #0A3871;
    float: right;
    position: relative;
    top: 5px;
    right: 18px;
}

.infoIcontacto{
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
}

main {
    background-image: url(imagenes/desktop-wallpaper-heroes-del-silencio\ 2.jpg);
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    background-size: contain;
    background-repeat: no-repeat;

}

.text-area {
    border: none;
    color: #0a3871;
    margin-top: 40px;
    text-transform: lowercase;
    background: transparent;
    
}

::placeholder{ color: #0a3871; }
    .text-area:focus {
        outline: none;
    }

.mensaje{
    background: beige;
    background-image: url("imagenes/batman-doubt.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 70% ;
    border: none;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 50px;
    padding-left: 20px;
    position: fixed;
    font-weight: bold;
}


.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}


.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    float: right;
}
.btn-desencriptar:hover{
    font-size: 42px;
    background: #0A3871;
    color: white;
    font-weight: bold;
    transition: all 1s;
}
.btn-encriptar {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}



.btn-encriptar:hover{
    font-size: 42px;
    font-weight: bold;
    transition: all 1s;
}
.btn-copiar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 500px;
    position: fixed;
    width: 336px;
}

.btn-copiar:hover{
    font-size: 42px;
    background: #0A3871;
    color: white;
    font-weight: bold;
    transition: all 1s;
}
.informacion {
    color: #8a0000;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    
}
.infoIcon{
    width: 25px;
    height: 25px;
    position: relative;
    top: 3px;
}
footer{  
    width: 100%;
}
.contact {
    width: 100%;
    background-color: beige;

}

.infoContact{

    width: 20%;
    height: 15px;
    margin-top: 10px;
    display: inline;
    
}
.infoContact img {
    width: 30px;
    margin-top: 15px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    
}
footer a {
    margin-left: 15px;
    padding-right: 130px;
    text-decoration: none;
    color: inherit;
    
}


